/* New implemented elements.
------------------------------------------------------- */

/* Integration Swyter's Terrain Hash Generator Start */
label{
		/*width:95px;
		display: inline-block;
		text-align:right;
		text-shadow:1px 1px black;*/
		
		font-size:140%;
		color: #815127;
		width: 114px;
		display: inline-block;
		text-align: right;
		text-shadow: 1px 1px black;
		margin-left: 88px;
		margin-bottom: 1em;
		-moz-user-select:none; /* firefux clumsy behavior fix */
	}

input,select{
		width:230px;
		-webkit-user-select:all;
		-m//oz-user-select:all;
		-o-user-select:all;
		
		font-family:times,serif;
		text-transform: lowercase;
	}
	
input#thash{
		width:100%;
		text-align:center;
		font-size:140%;
		font-family:times,serif;
		font-style: oblique;
		text-transform: lowercase;
		box-shadow: 0 0 114px #89A;
	}
	
input[type=checkbox]{
		width:0/*initial*/;
		padding-right:60px;
		color:gold;
		
		/*width: 46px;
		padding-right: 18px;
		color: gold;
		font-family: serif;
		letter-spacing: 1px;
		text-align: right;
		display: inline-block;
		text-shadow: 1px 1px 0 black;*/	
		
		padding-right: 28px;
		color: #815127;;
		font-family: serif;
		letter-spacing: 1px;
		text-align: right;
		display: inline-block !important;
		text-shadow: 1px 1px 0 black;
		
		}input[type=checkbox]:after{
		content:'disabled';
		
		}input[type=checkbox]:checked:after{
		content:'enabled' !important;
		color: gold;
	}

swyterh1,swyter2,swyterh3{
		font-weight: 100;
		text-shadow: 2px 1px black;
		margin:0;
		cursor:default;
	}
swyterh3{margin-bottom: -29px;}
swyterh1{
		font-size: 3.6em;
		-webkit-mask: -webkit-linear-gradient(white,rgba(0,0,0,.5) 70%);
		-moz-mask: -moz-linear-gradient(white,rgba(0,0,0,.5) 70%);
	}
swyterh2{
		border-top: 1px solid #775;
		border-color:rgba(153, 153, 119, 0.42);
		margin-top: -32px;
		letter-spacing: .4em;
		padding-top: 9px;
		
		}
swyterh2>span{
		position:absolute;
		/*color:#BE4343;*/
		color:#DB6565;
		-webkit-transform: rotate(9deg); 
		   -moz-transform: rotate(9deg);
		font-size: 15px;
		letter-spacing: 0/*initial*/;
		text-shadow: 0 0 14px red;
		font-weight: 700;
		opacity: .9;
		text-transform: uppercase;
		
		-webkit-animation-name: pulse; 
		-webkit-animation-duration: 0.5s; 
		-webkit-animation-iteration-count: 100; 
		white-space: nowrap;
		-moz-user-select:none; /* firefux clumsy behavior fix */
	}
	
swyterimg[src*="w3"]{
		width:140px;
	}
	
@-webkit-keyframes pulse {
	  from {
		opacity: 1;
	  }
	  50% {
		opacity: .75;
	  }
	  to { 
		opacity: 1;
	  }
	}
	
#pol>swyteroption:after{
		content:' meters';
	}
	
swyterselect,swyteroption{
		font-family: serif;
		letter-spacing: 1px;
	}
	
input#thash{
		border: double 4px #89A;
	}
	
input[type=range]:after{
	 content:"{"attr(value)"}";
		color: #815127;
		display:inline;
		text-align:center;
		font-family:times,serif;
		font-style: oblique;
		text-transform: lowercase;
		text-shadow: 1px 1px black;
	}
/* Integration Swyter's Terrain Hash Generator End */

/* Side navigation bar */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #C9BCA6;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 4px 4px 4px 15px;
  text-decoration: none;
  font-size: 15px;
  font-family: arial, helvetica, sans-serif;
  color: #341c08;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-right: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Bulletless list */
ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 10px; /* Remove margins */
}

/* Side navigation bar home button */
.sidenavhome {
  height: 100%;
  width: 50px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #00000;
  overflow-x: hidden;
  padding-top: 35px;
}

.sidenavhome a {
  padding: 4px 4px 4px 20px;
  display: block;
}

@media screen and (max-height: 450px) {
  .sidenavhome {padding-top: 15px;}
  .sidenavhome a {font-size: 18px;}
}

/* Side navigation for module.ini */
.sidenavmoduleini {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #C9BCA6;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenavmoduleini a, .dropdown-btn {
  padding: 4px 4px 4px 15px;
  text-decoration: none;
  font-size: 15px;
  font-family: arial, helvetica, sans-serif;
  color: #815127;
  display: block;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.sidenavmoduleini a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .sidenavmoduleini {padding-top: 15px;}
  .sidenavmoduleini a {font-size: 18px;}
}

/* Add an active class to the active dropdown button */
.activesidenav {
  background-color: #bea88c;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #e8e0d6;;
  padding-left: 8px;
}
/*End of sidenav for module.ini*/

/* Center Image*/
.centerimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border:1px solid;
  border-color: #4F3D29;
}

.centerimage2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border:1px solid;
  border-color: #4F3D29;
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
}
.centerimage2:active {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border:1px solid;
  border-color: #4F3D29;
  -webkit-transform: scale(1.75);
  transform: scale(1.75);
}

/*For text columns*/
.column2 {
  float: left;
  width: 50%;
}

/*For text columns with image between*/
/*.column {
  float: left;
  width: 50%;
}*/

.column {
  float: left;
}

.left, .right {
  width: 25%;
}

.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Styles for the general looks for the Curve theme.
------------------------------------------------------- */
/* Normal, standard links. */
a:link, a:visited
{
	color: #346;
	text-decoration: none;
}
a:hover
{
	text-decoration: underline;
	cursor: pointer;
}

/* Tables should show empty cells. */
table
{
	empty-cells: show;
}

/* Set a fontsize that will look the same in all browsers. */
body
{
	background: #E9EEF2;
	font: 78%/130% "Verdana", "Arial", "Helvetica", sans-serif;
	margin: 0 auto;
	padding: 15px 0;
}

/* use dark grey for the text, leaving #000 for headers etc */
body, td, th, tr
{
	color: #444;
}

/* This division wraps the entire forum when a forum width is set. */
div#wrapper
{
	margin: 0 auto;
	min-width: 764px;
	max-width: 2300px;
}

/* lets give all forms zero padding/margins */
form
{
	padding: 0;
	margin: 0;
}

/* The font size of textareas should be just a little bit larger. */
textarea
{
	font: 100%/130% verdana, Helvetica, sans-serif;
}

/* All input elements that are checkboxes or radio buttons shouldn't have a border around them. */
input.input_check, input.input_radio
{
	border: none;
	background: none;
}
h3.catbg input.input_check
{
	margin: 9px 7px 0 7px;
}

/* Standard horizontal rule.. ([hr], etc.) */
hr, .hrcolor
{
	height: 1px;
	border: 0;
	color: #ccc;
	background-color: #ccc;
}

/* By default set the color on these tags as #000. */
h1, h2, h3, h4, h5, h6
{
	color: #000;
	font-size: 1em;
	margin: 0;
	padding: 0;
}

/* No image should have a border when linked. */
a img
{
	border: 0;
}

/* Define strong as bold, and em as italics */
strong
{
	font-weight: bold;
}

em
{
	font-style: italic;
}
/* Alternative for u tag */
.underline
{
	text-decoration: underline;
}

/* Common classes to easy styling.
------------------------------------------------------- */

.floatright
{
	float: right;
}
.floatleft
{
	float: left;
}

.flow_auto
{
	overflow: auto;
}
.flow_hidden
{
	overflow: hidden;
}
.flow_hidden .windowbg, .flow_hidden .windowbg2
{
	margin-top: 2px;
}
.clear
{
	clear: both;
}
.clear_left
{
	clear: left;
}
.clear_right
{
	clear: right;
}

/* Default font sizes: small (8pt), normal (10pt), and large (14pt). */
.smalltext, tr.smalltext th
{
	font-size: 0.85em;
	font-family: verdana, sans-serif;
}
.middletext
{
	font-size: 0.9em;
	line-height: 1em;
	font-family: verdana, sans-serif;
}
.normaltext
{
	font-size: 1em;
	line-height: 1.2em;
}
.largetext
{
	font-size: 1.4em;
}
.centertext
{
	margin: 0 auto;
	text-align: center;
}
.righttext
{
	margin-left: auto;
	margin-right: 0;
	text-align: right;
}
.lefttext
{
	margin-left: 0;
	margin-right: auto;
	text-align: left;
}
.double_height
{
	line-height: 2em;
}
/* some common padding styles */
.padding
{
	padding: 0.7em;
}
.main_section, .lower_padding
{
	padding-bottom: 0.5em;
}

/* Some BBC related styles.
------------------------------------------------------- */

/* A quote, perhaps from another post. */
blockquote.bbc_standard_quote, blockquote.bbc_alternate_quote
{
	font-size: x-small;
	color: #000;
	line-height: 1.4em;
	border-top: 2px solid #99A;
	border-bottom: 2px solid #99A;
	padding: 1.1em 1.4em;
	margin: 0.1em 0 0.3em 0;
	overflow: auto;
}

/* Alterate blockquote stylings */
blockquote.bbc_standard_quote
{
	background-color: #d7daec;
}
blockquote.bbc_alternate_quote
{
	background-color: #e7eafc;
}

/* A code block - maybe PHP ;). */
code.bbc_code
{
	display: block;
	font-family: "dejavu sans mono", "monaco", "lucida console", "courier new", monospace;
	font-size: x-small;
	background: #eef;
	border-top: 2px solid #999;
	border-bottom: 2px solid #999;
	line-height: 1.5em;
	padding: 3px;
	overflow: auto;
	white-space: nowrap;
	/* Show a scrollbar after about 24 lines. */
	max-height: 24em;
}

/* A code block - maybe PHP ;). */
code.bbc_code_alt
{
	display: block;
	font-family: "dejavu sans mono", "monaco", "lucida console", "courier new", monospace;
	font-size: x-small;
	background: #eef;
	border-top: 2px solid #999;
	border-bottom: 2px solid #999;
	line-height: 1.5em;
	padding: 3px;
	overflow: auto;
	white-space: nowrap;
	/* Show a scrollbar after about 24 lines. */
	max-height: 15em;
}

/* A code block - maybe PHP ;). */
code.bbc_code_table
{
	display: block;
	font-family: "dejavu sans mono", "monaco", "lucida console", "courier new", monospace;
	font-size: x-small;
	background: #eef;
	border-top: 2px solid #999;
	border-bottom: 2px solid #999;
	line-height: 1.5em;
	padding: 3px;
	overflow: auto;
	white-space: nowrap;
	/* Show a scrollbar after about 24 lines. */
	max-height: 15em;
}

/* The "Quote:" and "Code:" header parts... */
.codeheader, .quoteheader
{
	color: #666;
	font-size: x-small;
	font-weight: bold;
	padding: 0 0.3em;
}

/* Styling for BBC tags */
.bbc_link:link, .bbc_link:visited
{
	border-bottom: 1px solid #A8B6CF;
}
.bbc_link:hover
{
	text-decoration: none;
	border-bottom: 1px solid #346;
}
.bbc_size
{
	line-height: 1.4em;
}
.bbc_color a
{
	color: inherit;
}
.bbc_img
{
	border: 0;
}
.bbc_table
{
	font: inherit;
	color: inherit;
}
.bbc_table td
{
	font: inherit;
	color: inherit;
	vertical-align: top;
}
.bbc_u
{
	text-decoration: underline;
}
.bbc_list
{
	text-align: left;
}
.bbc_tt
{
	font-family: "dejavu sans mono", "monaco", "lucida console", "courier new", monospace;
}

/* Generic, mostly color-related, classes.
------------------------------------------------------- */

.titlebg, .titlebg2, tr.titlebg th, tr.titlebg td, tr.titlebg2 td
{
	color: #222;
	font-family: arial, helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: bold;
	background: #e3e9ef;
}
.catbg, .catbg2, tr.catbg td, tr.catbg2 td, tr.catbg th, tr.catbg2 th

{
	color: #fff;
	font-family: arial, helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: bold;
	background: #a7b9cd;
}

/* adjust the table versions of headers */
tr.titlebg th, tr.titlebg2 th, td.titlebg, td.titlebg2, tr.catbg th, tr.catbg2 th, td.catbg, td.catbg2
{
	padding: 0 6px;
}
tr.titlebg th a:link, tr.titlebg th a:visited, tr.titlebg2 td a:link, tr.titlebg2 td a:visited
{
	color: #222;
}
tr.catbg th a:link, tr.catbg th a:visited, tr.catbg2 td a:link, tr.catbg2 td a:visited
{
	color: #fff;
}
.catbg select
{
	height: 1.5em;
	font-size: 0.85em;
}

/* Alternating backgrounds for posts, and several other sections of the forum. */
.windowbg, #preview_body
{
	color: #000;
	background-color: #e7eaef;
}
.windowbg2
{
	color: #000;
	background-color: #f0f4f7;
}
.windowbg3
{
	color: #000;
	background-color: #cacdd3;
}

/* Styles for rounded headers.
------------------------------------------------------- */
h3.catbg, h3.catbg2, h3.titlebg, h4.titlebg, h4.catbg
{
	overflow: hidden;
	height: 31px;
	line-height: 31px;
	font-size: 1.2em;
	font-weight: bold;
}
h3.catbg a:link, h3.catbg a:visited, h4.catbg a:link, h4.catbg a:visited, h3.catbg, .table_list tbody.header td, .table_list tbody.header td a
{
	color: #fff;
}
h3.catbg2 a, h3.catbg2
{
	color: #feb;
}
h3.catbg a:hover, h4.catbg a:hover, .table_list tbody.header td a:hover
{
	color: #fd9;
	text-decoration: none;
}
h3.catbg2 a:hover
{
	color: #fff;
	text-decoration: none;
}
h3.titlebg a, h3.titlebg, h4.titlebg, h4.titlebg a
{
	color: #222;
}
h3.titlebg a:hover, h4.titlebg a:hover
{
	color: #53616f;
	text-decoration: none;
}
h3.catbg img.icon, h4.titlebg img.icon
{
	vertical-align: middle;
	margin: -2px 5px 0 0;
}
h4.catbg a.toggle img
{
	vertical-align: middle;
	margin: -2px 5px 0 5px;
}
h4.catbg, h4.catbg2 , h3.catbg , h3.catbg2 , .table_list tbody.header td.catbg
{
	padding-right: 9px;
}
h4.titlebg, h3.titlebg
{
	padding-right: 9px;
}
h4.titlebg img.icon
{
	float: left;
	margin: 5px 8px 0 0;
}
div.cat_bar
{
	background: #99abbf;
	padding-left: 9px;
	height: 31px;
	overflow: hidden;
	margin-bottom: 1px;
}
div.title_bar
{
	background: #e3e9ef;
	padding-left: 9px;
	height: 31px;
	overflow: hidden;
	margin-bottom: 1px;
}

/* rounded bars needs a different background here */

div.roundframe div.cat_bar
{
	background: #99abbf;
	margin-bottom: 0;
}
div.roundframe div.cat_bar h3.catbg
{
}
table.table_list a.unreadlink, table.table_list a.collapse
{
	float: right;
}
table.table_list a.collapse
{
	margin: 10px 5px 0 1em;
	height: 31px;
	line-height: 31px;
}

/* The half-round header bars for some tables. */
.table_grid tr.catbg, .table_grid tr.titlebg
{
	font-size: 0.95em;
	border-bottom: 1px solid #fff;
}
.table_grid tr.catbg th, .table_grid tr.titlebg th
{
	height: 28px;
	line-height: 28px;
}
tr.catbg th.first_th
{
	background: #a7b9cd;
}
tr.catbg th.last_th
{
	background: #a7b9cd;
}
tr.titlebg th.first_th
{
	background: #e3e9ef;
}
tr.titlebg th.last_th
{
	background: #e3e9ef;
}
.table_grid th.last_th input
{
	margin: 0 2px;
}
.table_grid th.lefttext
{
	padding: 0 0.7em;
}

/* a general table class */
table.table_grid
{
	border-collapse: collapse;
	margin-top: 0.1em;
}
table.table_grid td
{
	padding: 3px;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
}

/* GenericList */
.additional_row
{
	padding: 0.5em 0 0.5em 0;
}
table.table_grid thead tr.catbg th
{
	white-space: nowrap;
}

/* Common styles used to add corners to divisions.
------------------------------------------------------- */
.windowbg span.topslice
{
	display: block;
	padding-left: 20px;
}
.windowbg span.topslice span
{
	display: block;
	height: 11px;
}
.windowbg span.botslice
{
	display: block;
	padding-left: 20px;
	font-size: 5px;
	line-height: 5px;
	margin-bottom: 0.2em;
}
.windowbg span.botslice span
{
	display: block;
	height: 11px;
}

.windowbg2 span.topslice
{
	display: block;
	padding-left: 20px;
}
.windowbg2 span.topslice span
{
	display: block;
	height: 11px;
}
.windowbg2 span.botslice
{
	display: block;
	padding-left: 20px;
	font-size: 5px;
	line-height: 5px;
	margin-bottom: 0.2em;
}
.windowbg2 span.botslice span
{
	display: block;
	height: 11px;
}

/* Used for sections that need somewhat larger corners.
----------------------------------------------------------- */
.roundframe
{
	padding: 0 10px;
	background: #f5f5f5;
	border-left: 1px solid #c5c5c5;
	border-right: 1px solid #c5c5c5;
}
.roundframe dl, .roundframe dt, .roundframe p
{
	margin: 0;
}
.roundframe p
{
	padding: 0.5em;
}
span.upperframe
{
	padding: 0;
	display: block;
	padding-left: 20px;
}
span.upperframe span
{
	padding: 0;
	height: 12px;
	display: block;
}
span.lowerframe
{
	padding: 0;
	display: block;
	padding-left: 20px;
}
span.lowerframe span
{
	padding: 0;
	height: 12px;
	display: block;
}

/* The main content area.
------------------------------------------------------- */
.content
{
	padding: 0.5em 1.2em;
	margin: 0;
	border: none;
}
.content p
{
	margin: 0 0 0.5em 0;
}

/* Styles for the standard dropdown menus.
------------------------------------------------------- */
#main_menu
{
	padding: 0 0.5em;
	float: left;
	margin: 0;
	width: 98%;
}

.dropmenu, .dropmenu ul
{
	list-style: none;
	line-height: 1em;
	padding: 0;
	margin: 0;
}
.dropmenu
{
	padding: 0 0.5em;
}
.dropmenu a
{
	display: block;
	color: #000;
	text-decoration: none;
}
.dropmenu a span
{
	display: block;
	padding: 0 0 0 5px;
	font-size: 0.9em;
}
/* the background's first level only */
.dropmenu li a.firstlevel
{
	margin-right: 8px;
}
.dropmenu li a.firstlevel span.firstlevel
{
	display: block;
	position: relative;
	left: -5px;
	padding-left: 5px;
	height: 22px;
	line-height: 19px;
	white-space: pre;
}
.dropmenu li
{
	float: left;
	padding: 0;
	margin: 0;
	position: relative;
}
.dropmenu li ul
{
	z-index: 90;
	display: none;
	position: absolute;
	width: 19.2em;
	font-weight: normal;
	border-bottom: 1px solid #999;
	padding: 7px 0 0 0;
}
.dropmenu li li
{
	width: 19em;
	margin: 0;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
}
.dropmenu li li a span
{
	display: block;
	padding: 8px;
}
.dropmenu li ul ul
{
	margin: -1.8em 0 0 13em;
}

/* the active button */
.dropmenu li a.active
{
	color: #fff;
	font-weight: bold;
}
.dropmenu li a.active span.firstlevel
{
	background-color: #D9C9AD;
	padding-top: 0.25em;
	padding-right: 0.5em;
}
/* the hover effects */
.dropmenu li a.firstlevel:hover, .dropmenu li:hover a.firstlevel
{
	background-color: #E4D9C3;
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}
.dropmenu li a.firstlevel:hover span.firstlevel, .dropmenu li:hover a.firstlevel span.firstlevel
{
	background-color: #E4D9C3;
}
/* the hover effects on level2 and 3 */
.dropmenu li li a:hover, .dropmenu li li:hover>a
{
	background: #d4dbe4;
	color: #000;
	text-decoration: none;
}
.dropmenu li:hover ul ul, .dropmenu li:hover ul ul ul
{
	top: -999em;
}
.dropmenu li li:hover ul
{
	top: auto;
}
.dropmenu li:hover ul
{
	display: block;
}
.dropmenu li li.additional_items
{
	background-color: #fff;
}

/* Styles for the general looks for the Curve theme.
------------------------------------------------------- */

/* the framing graphics */
#header
{
	background: #fefefe;
	padding-left: 20px;
}
#header div.frame
{
	display: block;
	padding: 5px 20px 1em 0;
}
/* the content section */
#content_section
{
	background: #FFFFFF;
	padding-left: 20px;
}
#content_section div.frame
{
	display: block;
	padding: 0 20px 0 0;
}
#main_content_section
{
	width: 100%;
	min-height: 200px;
}

/* the main title, always stay at 45 pixels in height! */
h1.forumtitle
{
	line-height: 45px;
	font-size: 1.8em;
	font-family: Geneva, verdana, sans-serif;
	margin: 0;
	padding: 0;
	float: left;
}
/* the subtitles at each section */
h1.subtitle
{
/*	line-height: 45px;*/
	font-size: 1.1em;
	font-family: Geneva, verdana, sans-serif;
	padding-bottom: 2px;
	text-decoration: underline;
}
h3, h4
{
	padding-bottom: 3px;
}
/* the upper_section, float the two each way */
#upper_section
{
	padding: 5px;
	margin-bottom: 1.5em;
}
#upper_section ul li.greeting
{
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.5em;
}
#upper_section div.news
{
	width: 50%;
	float: right;
	text-align: right;
}
div#upper_section div.user
{
	width: 50%;
	float: left;
	overflow: auto;
}
div#upper_section div.user p
{
	float: left;
	margin: 0 1em 1em 0;
	padding: 0;
}
div#upper_section div.user ul
{
	margin: 0;
	padding-left: 10px;
}
div#upper_section div.user ul li
{
	margin-bottom: 2px;
}
div#upper_section div.news p
{
	display: inline;
}
div#upper_section div.news form
{
	padding-bottom: 10px;
}
/* clearing the floats */
#top_section
{
	min-height: 25px;
	overflow: hidden;
	margin-bottom: 3px;
}
#upper_section
{
	overflow: hidden;
}

/* Styles for a typical table.
------------------------------------------------------- */
table.table_list
{
	width: 100%;
}
table.table_list p
{
	padding: 0;
	margin: 0;
}
table.table_list td, table.table_list th
{
	padding: 5px;
}
table.table_list tbody.header td
{
	padding: 0;
}
table.table_list tbody.content td.stats
{
	font-size: 90%;
	width: 15%;
	text-align: center;
}
table.table_list tbody.content td.lastpost
{
	line-height: 1.3em;
	font-size: 85%;
	width: 24%;
}
table.table_list tbody.content td.icon
{
/*	text-align: center;*/
	width: 6%;
}

/* Styles for the board index.
------------------------------------------------- */

/* the board title! */
.table_list tbody.content td.info a.subject
{
	font-weight: bold;
	font-size: 110%;
	color: #d97b33;
}
.table_list tbody.content td.children
{
	color: #555;
/*	font-size: 85%;*/
}
/* hide the table header/footer parts - but its here for those needing to style it */
#boardindex_table .table_list thead, #boardindex_table .table_list tfoot
{
	display: none;
}

/* Styles for the help section.
------------------------------------------------- */

#help_container
{
	margin: 4px 0 0 0;
	padding: 0 0 8px 0;
}
#helpmain
{
	padding: 0 1em;
}
#helpmain p
{
/*	margin: 0 0 1.5em 0;*/
	margin: 0 0 0.5em 0;
	line-height: 1.5em;
}
#helpmain ul
{
	line-height: 1.5em;
}

/* *************************************************************** */
/* *************************************************************** */
/* Everything above this is copied directly from the default theme */
/* *************************************************************** */
/* *************************************************************** */
/* Below are the adjustments made for this theme                   */
/* *************************************************************** */

/*  	our very own colors, how cute	  */
a:link, a:visited, .table_list tbody.content td.info a.subject:link, .table_list tbody.content td.info a.subject:visited, .bbc_link:link, .bbc_link:visited, a.new_win:link, a.new_win:visited
{
	color: #815127;
}
a:hover, .table_list tbody.content td.info a.subject:hover, a.new_win:hover, .bbc_link:hover
{
	color: #AA8061;
}
.bbc_link:link, .bbc_link:visited
{
	border-bottom-color: #AA8061;
	border-bottom-width: 0;
}
.bbc_link:hover
{
	border-bottom-color: #CAA081;
	border-bottom-width: 0;
	text-decoration: underline;
}
.ignoreboards a:hover
{
	border-bottom-color: #AA8061;
}

body
{
	background-color: #C9BCA6;
	padding: 15px 5%;
}
body, td, th , tr
{
	color: #2F1D09;
}
#content_section, #header
{
	background-color: #e8e0d6;
}
hr, .hrcolor
{
	color: #AF825E;
	background-color: #AF825E;
}
.meaction
{
	color: #995B16;
}
.highlight
{
	background-color: #6FDC89;
}

/*  	limit minimum page width (not applied to body since popup info windows would be affected)	  */
#content_section, #header, #footer_section
{
	min-width: 900px;
}

/*  	textured backgrounds	  */
.windowbg, #preview_body, #news_section.titlebg2, .roundframe, .information, .topic_table td.lockedbg, .description, .plainbox
{
	color: #200E02;
	background: #E4D9C3;
}
.windowbg2, .stickybg, .windowbg3, .topic_table td.lockedbg2, .topic_table td.lastpost.windowbg2, .information
{
	color: #200E02;
	background: #D9C9AD;
}
.stickybg2, .calendar_today, .roundframe h5.lower_padding, .topic_table td.stickybg2, .topic_table td.locked_sticky2, .highlight2, .highlight
{
	color: #200E02;
	background: #D3C0A9;
}
/*  	mainly just reference for middleground between backgrounds of windowbg and windowbg2	  */
.windowbg_between
{
	background-color: #DFD1B8;
}

/*  	darkened borders for roundframe and windowbgs	  */
.roundframe
{
	border-left: 1px solid #af9660;
	border-right: 1px solid #af9660;
}

/*  	topic button strips (and other right aligned ones) sometimes had right-most button clipped	  */
div.buttonlist.floatright
{
	padding-right: 3px;
}
/*  	un-cramp the menu buttons, particularly the right edge getting squished	  */
.dropmenu li a.firstlevel span.firstlevel
{
	left: -7px;
	padding-left: 7px;
}

/*  	color of borders in table grid	  */
table.table_grid td
{
	border-bottom: solid 1px #e0edda;
	border-right: solid 1px #e0edda;
}
.topic_table table thead
{
	border-bottom: solid 1px #e0edda;
}

/*  	text color in catbgs and titlebgs and such	  */
h3.catbg a:link, h3.catbg a:visited, h3.catbg, .table_list tbody.header td, h3.catbg2, h3.titlebg, h4.catbg, h4.titlebg, .table_grid thead th, tr.catbg td, tr.catbg2 td, tr.catbg th, tr.catbg2 th
{
	color: #4F3D29;
}
h3.catbg2 a, h3.titlebg a, h4.titlebg a, .table_list tbody.header td a, .table_grid thead th a:link, .table_grid thead th a:visited, h4.catbg a:link, h4.catbg a:visited, .table_list tbody.header td a
{
	color: #815127;
}
h3.catbg a:hover, .table_list tbody.header td a:hover, h3.catbg2 a:hover, h3.titlebg a:hover, h4.titlebg a:hover, .table_grid thead th a:hover, h4.catbg a:hover, .table_list tbody.header td a:hover
{
	color: #A17147;
}

/*  	not sure why they messed with these in RC4, but it messed up transparency on the sides... revert back to RC3 design for these	  */
.dropmenu li a.firstlevel span.firstlevel
{
	line-height: 17px;
}

/*  	text color in buttonstrips and such	  */
.dropmenu a, .dropmenu li a.active, .buttonlist ul li a, .buttonlist ul li a.active
{
	color: #000000;
}
.dropmenu li a.firstlevel:hover, .dropmenu li li a:hover, .buttonlist ul li a:hover
{
	color: #513100;
}

/*  	background for dropdown menus	  */
.dropmenu li li.additional_items
{
	background-color: #DED3BB;
}
.dropmenu li li a:hover, .dropmenu li li:hover>a
{
	background: #CEC0A3;
}
.dropmenu li li a.chosen, .dropmenu li li a.chosen:hover
{
}
.dropmenu li li a.chosen:hover
{
	background-color: #CEC0A3;
}

/*  	extra top padding to accomodate our top cap	  */
#header div.frame
{
	padding-top: 18px;
}

/*  	slogan adjustment	  */
#siteslogan
{
	padding: 6px 20px 0 0;
	color: #4F3D29;
}

/*  	Quote and Code box BBCode styling	  */
code.bbc_code, .code, div.spoilerbody, blockquote.bbc_standard_quote, blockquote.bbc_alternate_quote, code.bbc_code_alt, code.bbc_code_table
{
	color: #341C08;
	background: #DFD2B6;
	border: 1px solid #643C18;
	border-left-color: #9A855C;
	border-top-width: 0px;
	margin: 0 0 10px 0;
	padding: 4px 8px 5px 8px;
}
blockquote.bbc_standard_quote, blockquote.bbc_alternate_quote
{
	font-size: 0.9em;
}
blockquote.bbc_alternate_quote blockquote
{
	font-size: 1em;
}
code.bbc_code, .code
{
	font-size: 1.1em;
	margin: 7px auto 11px auto;
	max-height: 30em;
	border-left: 5px solid #A96;
	line-height: 1.3em;
}
code.bbc_code_alt
{
	font-size: 1.1em;
	margin: 7px auto 11px auto;
	max-height: 25em;
	max-width: 15em;
	border-left: 5px solid #A96;
	line-height: 1.3em;
}
code.bbc_code_table
{
	font-size: 1.1em;
	margin: 0px auto 11px auto;
	max-height: 25em;
	max-width: 45em;
	border-left: 5px solid #A96;
	line-height: 1.3em;
}
blockquote code.bbc_code, blockquote code.bbc_code_alt. blockquote code.bbc_code_table
{
	font-size: 1.2em;
}
.quoteheader, .codeheader
{
	color: #341D08;
	border: 1px solid #5A451C;
	border-top-color: #9A855C;
	border-left-color: #9A855C;
	border-bottom-color: #A49C68;
	padding: 0 0 2px 8px;
	margin-top: 10px;
	background: #C6B89B;
	width: auto;
}
.quoteheader a, .codeheader a
{
	color: #744D28;
	text-decoration: none;
}
.quoteheader a:hover, .codeheader a:hover
{
	color: #947D58;
}
.codeheader
{
	font-family: "courier new", "times new roman", monospace;
	font-size: 120%;
}
blockquote.bbc_standard_quote, blockquote.bbc_alternate_quote
{
	overflow: visible;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
}
.quoteheader
{
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
}


/*  	margin was causing a gap in the main area background	  */
.pagesection
{
	margin-bottom: 0;
}

/* Fix margins of quotes in some places like Search results */
.topic_table td blockquote
{
	margin-top: 0;
}
.topic_table td .quoteheader
{
	margin-bottom: 0;
}

/* Slightly smaller font size */
body
{
	font-size: 75%;
	line-height: 120%;
}

/* table formatting */
div.table_frame .table_list
{
	border-collapse: separate;
}
.table_frame .table_list td.icon, .table_frame .table_list td.info, .table_frame .table_list td.stats
{
	border-right-width: 0;
}
.table_grid tr.catbg, .table_grid tr.titlebg
{
	border-bottom: 1px solid #e0edda;
}
tr.catbg td, tr.catbg th
{
}
.table_grid tr.catbg th.first_th
{
	height: 32px;
}
.table_grid tr.catbg th.last_th
{
}
div.table_frame .table_list
{
	margin-top: 0;
}

div.title_bar h3.titlebg
{
	padding-right: 8px;
}

/*	less space between Home/Help/Search/etc. button strip and the stuff above it		*/
#upper_section { margin-bottom: 0; }

/*	background color for headers, for proper look before images load	*/
div.cat_bar, div.roundframe div.cat_bar, .catbg, .catbg2, tr.catbg td, tr.catbg2 td, tr.catbg th, tr.catbg2 th, tr.catbg th.first_th, tr.catbg th.last_th
{
	background-color: #bea88c;
}
div.title_barIC
{
	background-color: #b9a183;
}
.titlebg, .titlebg2, tr.titlebg th, tr.titlebg td, tr.titlebg2 td, div.title_bar, tr.titlebg th.first_th, tr.titlebg th.last_th
{
	background-color: #c5a88b;
}

/* Start style elements for page Interaction between MS files */
.filterDiv {
  float: left;
  background-color: #e8e0d6;
  color: #4F3D29;
  width: 190px;
  line-height: 25px;
  text-align: center;
  margin: 2px;
  display: none;
}

.show {
  display: block;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  width: 225px;
  line-height: 25px;
  margin: 2px;
/*  padding: 12px 16px;*/
  background-color: #e8e0d6;
  color: #4F3D29;
  cursor: pointer;
}

.btn:hover {
  background-color: #bea88c;
}

.btn.active {
  background-color: #bea88c;
  color: white;
}
/* End style elements for page Interaction between MS files */

tt {
	font-size: initial;
	background: #62260f21;
	border-radius: 3px;
	padding: 1.7px;
	border: 1px solid #80000012;
}

pre {
	display: inline-flex; width: 100%; /* swy: make it so that the preformatted blocks only style our inner text; making it monospaced, no extra margins */
}
code {
	width: 100%; /* swy: make the code block inside the pre also cover the entire page width */
}
